<ion-header>
  <ion-toolbar>
    <ion-title>
      status: {{ statusMessage }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="ionViewDidEnter()">Scanner BLU</ion-button>
  <ion-list>
    <ion-card *ngFor="let device of devices" >
      <ion-card-header *ngIf='device.name === uuidName'>
        <ion-card-subtitle>RSSI: {{ device.rssi }}</ion-card-subtitle>
        <ion-card-title >{{ device.name || 'Unnamed' }}</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf='device.name === uuidName'>
        <p style="color: red;">ID: {{ device.id }}</p>
        Services: {{device.services || '---'}}
        Advertising: {{device.advertising.value || '---'}}
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>